@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-green: #065C0B;
  --color-grey: #5B615D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green: var(--color-green);
  --color-grey: var(--color-grey);
  --font-bebas-neue: var(--font-bebas-neue);
  --font-ibm-plex-mono: var(--font-ibm-plex-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-green: #065C0B;
  --color-grey: #5B615D;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}
